/**
 * Print stylesheet for yourwebsite.com
* @version         1.0
* @lastmodified    16.06.2016
*/

@media print {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Ubuntu;
    }
    
    #section1{
        background-image: url(../images/discovery.png);
        background-size: cover;
        background-position: center;
        font-size: 14px;
    }
    
    nav{
        width: 90%;
        margin: auto;
    }
    
    ul{
        display: inline-block;
        list-style: none;
        margin-left: 20%;
        position: absolute;
        left: 10%;
    }
    
    ul li,ul li a{
        display: inline-block;
    }
    
    ul li a{
        text-decoration: none;
        color: antiquewhite;
        padding:30px;
    }
    
    ul li a:hover{
        color: lightskyblue;
    }
    
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 100px;
        color: antiquewhite;
    }
    
    #section2{
        width: 50%;
        margin-top: 15%;
        margin-bottom: 10%;
    }
    
    #section2 h3{
        font-size: 50px;
    }
    
    #section2 p{
        font-size: 30px;
        padding-top: 10%;
        font-family: Raleway;
    }
    
    .logo9{
        width: 5%;
        position: absolute;
        left: 2%;
        top: 1%;
    }
}